body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.plug {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  margin: 2px 2px 2px 2px;
  text-align: center;
  font-size: 14px;
}

.pair {
  text-transform: uppercase;
}

.red-pair {
  color: red;
  border-color: red;
}
.blue-pair {
  color: blue;
  border-color: blue;
}
.green-pair {
  color: green;
  border-color: green;
}
.yellow-pair {
  color: yellow;
  border-color: yellow;
}
.pink-pair {
  color: pink;
  border-color: pink;
}
.purple-pair {
  color: purple;
  border-color: purple;
}
.orange-pair {
  color: orange;
  border-color: orange;
}
.teal-pair {
  color: teal;
  border-color: teal;
}
.grey-pair {
  color: grey;
  border-color: grey;
}
.brown-pair {
  color: brown;
  border-color: brown;
}